<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<!-- Bootstrap Responsiveness-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Account</title>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<!-- Navigation Bar -->
<link rel="stylesheet" href="../../resources/styles/navigationbar.css"
	th:href="@{/resources/styles/navigationbar.css}">
<link rel="stylesheet" href="../../resources/styles/account.css"
	th:href="@{/resources/styles/account.css}">
<link rel="stylesheet" href="../../resources/styles/footer.css"
	th:href="@{/resources/styles/footer.css}" />
	<link rel="stylesheet" href="../../resources/styles/footer.css"
	th:href="@{/resources/styles/main.css}" />
</head>

<body id="account">


	<header th:replace="layout/navigationbar :: navigationbar"> </header>
	<div class="content">
		<div class="row col-md-12">
			<h1 th:text="'User Profile of ' + ${user.getUsername()}"></h1>
		</div>

		<div class="col-xs-12">
			<div class="col-xs-2">
				<b>Username</b>
			</div>
			<form sec:authorize="isAuthenticated()" action="#"
				th:object="${name}" th:action="@{${user.getUserID()} + '/name'}"
				method="post">
				<div class="col-xs-4">
					<input class="form-control" th:value="${user.userName}" type="text"
						name="name" maxlength="25">
				</div>
				<div class="col-xs-6">
					<button type="Submit" class="btn btn-warning">
						<span class="glyphicon glyphicon-floppy-disk"></span> Edit
					</button>
				</div>
			</form>
		</div>

		<div class="col-xs-12">
			<br>
			<div class="col-xs-2">
				<b>Password:</b>
			</div>
			<form sec:authorize="isAuthenticated()" action="#"
				th:object="${pass}" th:action="@{${user.getUserID()} + '/pass'}"
				method="post">
				<div class="col-xs-4">
					<input class="form-control" th:value="${user.password}"
						type="password" name="pass" maxlength="50">
				</div>
				<div class="col-xs-6">
					<button type="Submit" class="btn btn-warning">
						<span class="glyphicon glyphicon-floppy-disk"></span> Edit
					</button>
				</div>
			</form>
		</div>

		<div class="col-xs-12">
			<br>
			<div class="col-xs-2">
				<b>Email:</b>
			</div>
			<form sec:authorize="isAuthenticated()" action="#"
				th:object="${email}" th:action="@{${user.getUserID()} + '/email'}"
				method="post">
				<div class="col-xs-4">
					<input class="form-control" th:value="${user.userEmail}"
						type="text" name="email" maxlength="50">
				</div>
				<div class="col-xs-6">
					<button type="Submit" class="btn btn-warning">
						<span class="glyphicon glyphicon-floppy-disk"></span> Edit
					</button>
				</div>
			</form>
		</div>

		<div class="col-md-12">
			<br>
			<div class="col-xs-4 container-green">
				<div>
					<label class="Menu">Vote History</label>
				</div>
				<div class="col-xs-6">
					<div class="item" th:each="v : ${voteList}">
						<div>
							<span
								th:class="${v.getRank() < 0.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
							<span
								th:class="${v.getRank() < 1.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
							<span
								th:class="${v.getRank() < 2.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
							<span
								th:class="${v.getRank() < 3.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
							<span
								th:class="${v.getRank() < 4.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="item vote-movie-name" th:each="m : ${voteMovies}">
						<a th:href="@{/movie/{id}(id=${m.getMovieID()})}"
							th:text="${m.getTitle()}"></a>
					</div>
				</div>
			</div>

			<div class="col-xs-4 container-green">
				<div>
					<label class="Menu">Recommendations</label>
				</div>
				<div class="item" th:each="m : ${movieList}">
					<a th:href="@{/movie/{id}(id=${m.getMovieID()})}"> <img
						th:src="${'/movietracker/resources/images/' + m.getMovieID() + '.jpg'}">
					</a>
					<div class="pull-right">
						<a th:href="@{/movie/{id}(id=${m.getMovieID()})}"
							th:text="${m.getTitle()}"></a>
						<div>
							Rank: <span th:text="${m.getRank()}"></span>
						</div>
						<div class="movie-description">
							<span th:utext="${m.getDescription()}"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-4 container-green">
				<div>
					<label class="Menu">Comment History</label>
				</div>
				<div id="comment-container">
					<div class="row-fluid">
						<div class="span6" th:each="m : ${commentMovies}">
							<span th:text="${m.getTitle()} + ':'"></span>
						</div>
						<div class="span6" th:each="c : ${commentList}">
							<span th:text="${c.getText()}"></span>
						</div>
						<div class="span6 offset1" th:each="c : ${commentList}">
							<span th:text="${c.getCreatedAt().getTime().toString()}"></span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Footer -->
	<footer sec:authorize="isAuthenticated()"
		th:replace="layout/footer :: footer"> </footer>

</body>
</html>
