<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
<title>MovieTracker</title>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<!-- Navigation Bar -->
<link rel="stylesheet" href="../../resources/styles/navigationbar.css"
	th:href="@{/resources/styles/navigationbar.css}">

<link rel="stylesheet" href="../../resources/styles/addmovie.css"
	th:href="@{/resources/styles/addmovie.css}" />
<link rel="stylesheet" href="../../resources/styles/footer.css"
	th:href="@{/resources/styles/footer.css}" />
<link rel="stylesheet" href="../../resources/styles/main.css"
	th:href="@{/resources/styles/main.css}" />

</head>
<body id="addMovie">
	<header th:replace="layout/navigationbar :: navigationbar"> </header>

	<div class="container-fluid" id="container">
		<div class="header">
			<span th:if="${!editing}">Add a new movie</span> <span
				th:if="${editing}"> Edit movie</span>
		</div>
		<div class="col-xs-offset-2 row col-xs-8">
			<a class="go-to-details pull-right" th:href="@{../{id}(id=${movie.getMovieID()})}"><span class="glyphicon glyphicon-menu-left"></span> Go to details</a>
		</div>
		<form action="#" th:object="${movie}"
			th:action="@{/movie/addmovie/submit}" method="post">
			<div class="col-xs-offset-2 col-xs-8 well well-lg">
				<input type="hidden" th:field="*{movieID}">
				<div class="col-md-4">
					<label>Movie title:</label>
				</div>
				<div class="col-md-8">
					<input class="form-control" type="text" maxlength="200"
						placeholder="Movie title" th:field="*{title}" /> <br>
				</div>
				<div class="col-md-4">
					<label>Age restriction:</label>
				</div>
				<div class="col-md-8">
					<div class="col-md-4 row">
						<select class="form-control" name="Age rating"
							th:field="*{ageLimitation}">
							<option th:value="0">0</option>
							<option th:value="6">6</option>
							<option th:value="12">12</option>
							<option th:value="16">16</option>
							<option th:selected="selected" th:value="18">18</option>
						</select> <br>
					</div>
				</div>
				<div class="col-md-4">
					<label>Release year:</label>
				</div>
				<div class="col-md-8">
					<div class="row col-md-4">
						<select class="form-control" name="release"
							th:field="*{releaseDate}">
							<script>
								var now = new Date();
								for (var i = 1980; i <= now.getFullYear(); i++) {
									document
											.write("<option>" + i + "</option>");
								}
							</script>
						</select>
						<!-- <input class="form-control" type="text" placeholder="Release year"
							th:field="*{releaseDate}" /> -->
						<br>
					</div>
				</div>
				<div class="col-md-4">
					<label>Description:</label>
				</div>
				<div class="col-md-8">
					<textarea class="form-control" maxlength="1000" rows="5"
						th:field="*{description}"></textarea>
					<br>
				</div>

				<div class="col-md-4">
					<label>Duration:</label>
				</div>
				<div class="col-md-8">
					<div class="input-group col-md-5">
						<input class="form-control" type="number" min="1" max="1000"
							placeholder="Duration" th:field="*{duration}">
						<div class="input-group-addon">Minutes</div>
					</div>
					<br>
				</div>

				<div class="col-md-4">
					<label>Director:</label>
				</div>
				<div class="col-md-8">
					<div class="row col-md-8">
						<select class="form-control" th:field="*{directorID}"
							name="release">
							<option th:each="d : ${directorList}" th:value="${d.directorID}"
								th:text="${d.firstName + ' ' + d.lastName}"></option>
						</select> <br>
					</div>
				</div>
				<div th:if="${editing}" class="col-xs-12">
					<button sec:authorize="isAuthenticated()" type="Submit"
						class="btn btn-warning center-block">
						<span class="glyphicon glyphicon-floppy-disk"></span> Save
					</button>
				</div>
			</div>
			<div th:if="${!editing}" class="col-xs-offset-2 col-xs-8">
				<button sec:authorize="isAuthenticated()" type="Submit"
					class="btn btn-success center-block">
					<span class="glyphicon glyphicon-plus"></span> Create
				</button>
			</div>

		</form>
		<div>
			<div th:if="${editing}" class="col-xs-offset-2 col-xs-4 well well-lg">
				<label>Categories:</label>

				<div>
					<span class="category-list"
						th:each="cat : ${movie.getCategories()}"> <a type="submit"
						class="btn btn-info btn-sm"><span
							th:text="${cat.getCategoryName()}"></span></a>
					</span> <br>
				</div>
				<div class="row col-xs-12">
					<br>
					<div class="pull-left">
						<div class="btn-group dropup">
							<button type="button" class="btn btn-success dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								Add Category <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li th:each="cat : ${categoryList}"><a
									th:href="@{addcategory/{categoryID}(categoryID=${cat.getId()})}"
									th:text="${cat.getCategoryName()}"></a></li>
							</ul>
						</div>
					</div>
					<div class="pull-right">
						<div class="btn-group dropup">
							<button type="button" class="btn btn-danger dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								Remove Category <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li th:each="cat : ${movie.getCategories()}"><a
									th:href="@{removecategory/{categoryID}(categoryID=${cat.getId()})}"
									th:text="${cat.getCategoryName()}"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${editing}" class="col-xs-4 well well-lg">
				<label>Actors:</label>

				<div>
					<span class="category-list" th:each="actor : ${movie.getActors()}">
						<a type="submit" class="btn btn-info btn-sm"><span
							th:text="${actor.getFullName()}"></span></a>
					</span> <br>
				</div>
				<div class="row col-md-12">
					<br>
					<div class="pull-left">
						<div class="btn-group dropup">
							<button type="button" class="btn btn-success dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								Add Actor <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li th:each="actor : ${actorList}"><a 
									th:href="@{addactor/{actorID}(actorID=${actor.getActorID()})}"
									th:text="${actor.getFullName()}"></a></li>
							</ul>
						</div>
					</div>
					<div class="pull-right">
						<div class="btn-group dropup">
							<button type="button" class="btn btn-danger dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								Remove Actor <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li th:each="actor : ${movie.getActors()}"><a 
									th:href="@{removeactor/{actorID}(actorID=${actor.getActorID()})}"
									th:text="${actor.getFullName()}"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<!-- 
	<footer sec:authorize="isAuthenticated()"
		th:replace="layout/footer :: footer"> </footer> -->

</body>
</html>