<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<!-- Bootstrap Responsiveness-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Account</title>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<!-- Navigation Bar -->
<link rel="stylesheet" href="../../resources/styles/navigationbar.css"
	th:href="@{/resources/styles/navigationbar.css}">
<link rel="stylesheet" href="../../resources/styles/account.css"
	th:href="@{/resources/styles/admin.css}">
<link rel="stylesheet" href="../../resources/styles/footer.css"
	th:href="@{/resources/styles/footer.css}" />
<link rel="stylesheet" href="../../resources/styles/footer.css"
	th:href="@{/resources/styles/main.css}" />
</head>
<body>

	<header th:replace="layout/navigationbar :: navigationbar"></header>
	<div class="content">

		<div class="col-xs-12">
			<div class="row col-xs-6">
				<h1>Admin Page</h1>
			</div>
			<div class="row col-xs-6">
				<a th:href="@{admin/updateRanks}"><span><button
							class="btn btn-primary">
							<span class="glyphicon glyphicon-sunglasses"></span> Update Ranks
						</button></span></a>
			</div>
		</div>
		<div class="col-xs-12" th:if="${mode.equals('normal')}">
			<ul class="nav nav-tabs">
				<li id="tabButton1" role="presentation" onClick="openTab(1)"><a
					href="#">Approve Movie</a></li>
				<li id="tabButton2" role="presentation" onClick="openTab(2)"><a
					href="#">Manage Categories</a></li>
				<li id="tabButton3" role="presentation" onClick="openTab(3)"><a
					href="#">Manage Directors</a></li>
				<li id="tabButton4" role="presentation" onClick="openTab(4)"><a
					href="#">Manage Actors</a></li>
			</ul>

			<div id="tab1" class="tab-content">
				<div class="List" th:each="m : ${movieDetailsList}">
                <table class="table table-striped">
                       <thead>
                         <tr>
                          <th>Movie Title</th>
                          <th>Director Name</th>
                          <th>Description</th>
                          <th>Duration</th>
                          <th>Age Limitation</th>                    
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td th:text="${m.getTitle()}"></td>
                            <td th:text="${m.getDirectorName()}"></td>
                            <td th:text="${m.getDescription()}"></td>
                            <td th:text="${m.getDuration()}"></td>
                            <td th:text="${m.getAgeLimitation()}"></td>
                            <td>
				            	<form action="#" th:action="@{'/admin/moviedetails/delete/'+ ${m.getDetailsID()}}"
			                			 method="post">
				           		<button type="Submit"
						          	class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
				            	</form>
                             </td>
                             <td>
		            			<form action="#" th:action="@{'/admin/moviedetails/add/'+ ${m.getDetailsID()}}" 
	               					method="post">
	              					<button type="Submit"
	            						class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
		            			</form>
                             </td>
                          </tr>
                      </tbody>
                    </table>          
				</div>
			</div>
			<div id="tab2" class="tab-content">
				<div class="col-xs-12 th">
					<div class="col-xs-1">Id</div>
					<div class="col-xs-9">Name</div>
					<div class="col-xs-2">Action</div>
				</div>
				<div class="col-xs-12 tr" th:each="c : ${categoryNotApprovedList}">
					<div class="col-xs-1">
						<span th:text="${c.getId()}"></span>
					</div>
					<div class="col-xs-9">
						<span th:text="${c.getCategoryName()}"></span>
					</div>
					<div class="col-xs-1">
						<form action="#" th:action="@{'/admin/category/delete/'+ ${c.getId()}}" method="post">
							<button class="btn-xs btn-danger" type="Submit">
								<span class="glyphicon glyphicon-remove"></span> Reject
							</button>
						</form>
					</div>
					<div class="col-xs-1">
						<form action="#" th:action="@{'/admin/category/approve/'+ ${c.getId()}}" method="post">
							<button class="btn-xs btn-success">
								<span class="glyphicon glyphicon-ok"></span> Approve
							</button>
						</form>
					</div>
				</div>
				<div class="col-xs-12 tr" th:each="c : ${categoryApprovedList}">
					<div class="col-xs-1">
						<span th:text="${c.getId()}"></span>
					</div>
					<div class="col-xs-9">
						<span th:text="${c.getCategoryName()}"></span>
					</div>
					<div class="col-xs-1">
						<form action="#" th:action="@{'/admin/category/delete/'+ ${c.getId()}}" method="post">
							<button class="btn-xs btn-danger" type="Submit">
								<span class="glyphicon glyphicon-trash"></span> Delete
							</button>
						</form>
					</div>
					<a th:href="@{/admin/category/update/{id}(id=${c.getId()})}">
						<button class="btn-xs btn-warning">
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</button>
					</a>
				</div>
			</div>
			<div id="tab3" class="tab-content">
				<div class="col-xs-12 th">
					<div class="col-xs-1">Id</div>
					<div class="col-xs-5">First Name</div>
					<div class="col-xs-4">Last Name</div>
					<div class="col-xs-2">Action</div>
				</div>
				<div class="col-xs-12">
					<form action="#" th:action="@{/admin/directors}"
						th:object="${director}" method="post">
						<div class="col-xs-1"></div>
						<div class="col-xs-5">
							<input th:field="*{firstName}" class="form-control"
								name="firstName" type="text" placeholder="First Name" />
						</div>
						<div class="col-xs-4">
							<input th:field="*{lastName}" class="form-control"
								name="lastName" type="text" placeholder="Last Name" />
						</div>
						<div class="col-xs-2">
							<button sec:authorize="isAuthenticated()" class="btn btn-success"
								type="Submit">
								<span class="glyphicon glyphicon-plus"></span> Add Director
							</button>
						</div>
					</form>
				</div>
				<div class="col-xs-12 tr" th:each="d : ${directorList}">
					<div class="col-xs-1">
						<span th:text="${d.getDirectorID()}"></span>
					</div>
					<div class="col-xs-5">
						<span th:text="${d.getFirstName()}"></span>
					</div>
					<div class="col-xs-4">
						<span th:text="${d.getLastName()}"></span>
					</div>
					<div class="col-xs-1">
						<form action="#" onsubmit="return deleting()"
							th:action="@{'/admin/director/delete/'+ ${d.getDirectorID()}}"
							th:object="${d}" method="post">
							<button class="btn-xs btn-danger" type="Submit">
								<span class="glyphicon glyphicon-trash"></span> Delete
							</button>
						</form>
					</div>

					<div class="col-xs-1">
						<a
							th:href="@{/admin/director/update/{id}(id=${d.getDirectorID()})}">
							<button class="btn-xs btn-warning">
								<span class="glyphicon glyphicon-pencil"></span> Edit
							</button>
						</a>
					</div>
				</div>
			</div>
			<div id="tab4" class="tab-content">
				<div class="col-xs-12 th">
					<div class="col-xs-1">Id</div>
					<div class="col-xs-3">First Name</div>
					<div class="col-xs-2">Last Name</div>
					<div class="col-xs-2">Birth Date</div>
					<div class="col-xs-2">Biography</div>
					<div class="col-xs-2">Action</div>
				</div>
				<div class="col-xs-12">
					<form action="#" th:action="@{/admin/actors}" th:object="${actor}"
						method="post">
						<div class="col-xs-1"></div>
						<div class="col-xs-3">
							<input th:field="*{firstName}" class="form-control"
								name="firstName" type="text" placeholder="First Name" />
						</div>
						<div class="col-xs-2">
							<input th:field="*{lastName}" class="form-control"
								name="lastName" type="text" placeholder="Last Name" />
						</div>
						<div class="col-xs-2">
							<input th:type="date" th:id="birthDate" th:name="birthDate"
								th:value="${#dates.format(actor.birthDate,'yyyy-MM-dd')}"
								class="form-control" name="birthDate" type="date" />
						</div>
						<div class="col-xs-2">
							<input th:field="*{biography}" class="form-control"
								name="biography" type="text" placeholder="Biography" />
						</div>
						<div class="col-xs-2">
							<button sec:authorize="isAuthenticated()" class="btn btn-success"
								type="Submit">
								<span class="glyphicon glyphicon-plus"></span> Add Actor
							</button>
						</div>
					</form>
				</div>
				<div class="col-xs-12 tr" th:each="a : ${actorList}">

					<div class="col-xs-1">
						<span th:text="${a.getActorID()}"></span>
					</div>
					<div class="col-xs-3">
						<span th:text="${a.getFirstName()}"></span>
					</div>
					<div class="col-xs-2">
						<span th:text="${a.getLastName()}"></span>
					</div>
					<div class="col-xs-2">
						<span th:text="${#dates.format(a.birthDate, 'yyyy-MM-dd')}"></span>
					</div>
					<div class="col-xs-2">
						<span th:text="${a.getBiography()}"></span>
					</div>
					<div class="col-xs-1">
						<form action="#"
							th:action="@{'/admin/actor/delete/'+ ${a.getActorID()}}"
							th:object="${a}" method="post">
							<button class="btn-xs btn-danger" type="Submit">
								<span class="glyphicon glyphicon-trash"></span> Delete
							</button>
						</form>
					</div>
					<div class="col-xs-1">
						<a th:href="@{/admin/actor/update/{id}(id=${a.getActorID()})}">
							<button class="btn-xs btn-warning">
								<span class="glyphicon glyphicon-pencil"></span> Edit
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${mode.equals('editingDirector')}">
			<div class="col-xs-12 th">
				<div class="col-xs-1">Id</div>
				<div class="col-xs-5">First Name</div>
				<div class="col-xs-4">Last Name</div>
				<div class="col-xs-2">Action</div>
			</div>
			<div class="col-xs-12">
				<form action="#" th:action="@{/admin/director/update}"
					th:object="${director}" method="post">
					<input type="hidden" th:field="*{directorID}" />
					<div class="col-xs-1">
						<span th:text="${director.getDirectorID()}"></span>
					</div>
					<div class="col-xs-5">
						<input th:field="*{firstName}" class="form-control"
							name="firstName" type="text" placeholder="First Name" />
					</div>
					<div class="col-xs-4">
						<input th:field="*{lastName}" class="form-control" name="lastName"
							type="text" placeholder="Last Name" />
					</div>
					<div class="col-xs-2">
						<button sec:authorize="isAuthenticated()" class="btn btn-success"
							type="Submit">
							<span class="glyphicon glyphicon-floppy-disk"></span> Save
						</button>
					</div>
				</form>
			</div>
		</div>
		<div th:if="${mode.equals('editingActor')}">
			<div class="col-xs-12 th">
				<div class="col-xs-1">Id</div>
				<div class="col-xs-3">First Name</div>
				<div class="col-xs-2">Last Name</div>
				<div class="col-xs-2">Birth Date</div>
				<div class="col-xs-2">Biography</div>
				<div class="col-xs-2">Action</div>
			</div>
			<div class="col-xs-12">
				<form action="#" th:action="@{/admin/actor/update}"
					th:object="${actor}" method="post">
					<input type="hidden" th:field="*{actorID}" />
					<div class="col-xs-1">
						<span th:text="${actor.getActorID()}"></span>
					</div>
					<div class="col-xs-3">
						<input th:field="*{firstName}" class="form-control"
							name="firstName" type="text" placeholder="First Name" />
					</div>
					<div class="col-xs-2">
						<input th:field="*{lastName}" class="form-control" name="lastName"
							type="text" placeholder="Last Name" />
					</div>
					<div class="col-xs-2">
						<input th:type="date" th:id="birthDate" th:name="birthDate"
							th:value="${#dates.format(actor.birthDate,'yyyy-MM-dd')}"
							class="form-control" name="birthDate" type="date" />
					</div>
					<div class="col-xs-2">
						<input th:field="*{biography}" class="form-control"
							name="biography" type="text" placeholder="biography" />
					</div>
					<div class="col-xs-2">
						<button sec:authorize="isAuthenticated()" class="btn btn-success"
							type="Submit">
							<span class="glyphicon glyphicon-floppy-disk"></span> Save
						</button>
					</div>
				</form>
			</div>
		</div>
		<div th:if="${mode.equals('editingCategory')}">
			<div class="col-xs-12 th">
				<div class="col-xs-1">Id</div>
				<div class="col-xs-9">Name</div>
				<div class="col-xs-2">Action</div>
			</div>
			<div class="col-xs-12">
				<form action="#" th:action="@{/admin/category/update}"
					th:object="${category}" method="post">
					<input type="hidden" th:field="*{id}" />
					<div class="col-xs-1">
						<span th:text="${category.getId()}"></span>
					</div>
					<div class="col-xs-9">
						<input th:field="*{categoryName}" class="form-control"
							name="categoryName" type="text" placeholder="Category name" />
					</div>
					<div class="col-xs-2">
						<button sec:authorize="isAuthenticated()" class="btn btn-success"
							type="Submit">
							<span class="glyphicon glyphicon-floppy-disk"></span> Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	var hideAll = function() {
		for (var i = 1; i < 5; i++) {
			document.getElementById("tab" + i).style.visibility = "hidden";
			document.getElementById("tabButton" + i).className = "";
		}
	}
	var openTab = function(tab) {
		hideAll();
		document.getElementById('tab' + tab).style.visibility = "visible";
		document.getElementById('tabButton' + tab).className = "active";
	}

	var deleting = function() {
		return confirm('Are you sure you want to delete this director? All Movies of this director will also be deleted!');
	}
	hideAll();
	openTab(1);
</script>
</html>