<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<!-- Bootstrap Responsiveness-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Categories</title>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<!-- Navigation Bar -->
<link rel="stylesheet" href="../../resources/styles/navigationbar.css"
	th:href="@{/resources/styles/navigationbar.css}">
<link rel="stylesheet" href="../../resources/styles/categories.css"
	th:href="@{/resources/styles/categories.css}">
<link rel="stylesheet" href="../../resources/styles/footer.css"
	th:href="@{/resources/styles/footer.css}" />
	<link rel="stylesheet" href="../../resources/styles/home.css" th:href="@{/resources/styles/main.css}"/>
</head>

<body>

	<header th:replace="layout/navigationbar :: navigationbar"> </header>

	<div class="content">
		<div th:if="${overviewOn}">
			<h1>Categories</h1>
	
			<!-- Input-Test to change name of Category with ID:1 -->
	      <div class="row" sec:authorize="isAuthenticated()">
			<form class="col-xs-12" action="#" th:action="@{${categories}}"
				th:object="${name}" method="post">
				<div class="form-group col-xs-6">
				  <input name="name" class="form-control" type="text" />
				</div>
				<div class="form-group col-xs-6">
				<button class="btn btn-success" type="Submit">
					<span class="glyphicon glyphicon-plus"></span> Add Category
				</button>
				</div>
			</form>
			<br>
	      </div>
	      <div class="row">
			<div id="category_container" >
				<div class="col-xs-4" th:each="cat : ${categoryList}">
					<a th:if="${cat.isApproved()}"
						th:href="${'http://localhost:8080/movietracker/categories/' + cat.getId()}"
						class="category_item" id="${cat.getCategoryID()}"
						th:text="${cat.getCategoryName()}"></a>
				</div>
			</div>
		  </div>
		</div>
		<div th:if="${!overviewOn}">
			<h1 th:text="${category.getCategoryName()}"></h1>
		</div>
		<div class="row">
		<div id="movie_container">
			<div class="movie-item" th:each="m : ${movieList}">
				<a th:href="@{/movie/{id}(id=${m.getMovieID()})}"> <img
					th:src="${'/movietracker/resources/images/' + m.getMovieID() + '.jpg'}">
				</a>
				<div>
					<span
						th:class="${m.getRank() < 0.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
					<span
						th:class="${m.getRank() < 1.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
					<span
						th:class="${m.getRank() < 2.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
					<span
						th:class="${m.getRank() < 3.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
					<span
						th:class="${m.getRank() < 4.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
				</div>
				<a th:href="@{/movie/{id}(id=${m.getMovieID()})}"> <span
					th:text="${m.getTitle()}"></span>
				</a>
			 </div>
			</div>
		</div>

	</div>
	<!-- Footer -->
	<footer sec:authorize="isAuthenticated()"
		th:replace="layout/footer :: footer"> </footer>
</body>
</html>