<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
   <head>
    <meta charset="utf-8">
      <!-- Bootstrap Responsiveness-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    
      <!-- Bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
         th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" 
         th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
         th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!-- Navigation Bar -->
    <link rel="stylesheet" href="../../resources/styles/navigationbar.css" 
         th:href="@{/resources/styles/navigationbar.css}">
         <link rel="stylesheet" href="../../resources/styles/footer.css" th:href="@{/resources/styles/footer.css}"/>
         <link rel="stylesheet" href="../../resources/styles/home.css" th:href="@{/resources/styles/home.css}"/>
         <link rel="stylesheet" href="../../resources/styles/home.css" th:href="@{/resources/styles/main.css}"/>
    
  </head>

<body>

<header th:replace="layout/navigationbar :: navigationbar" > </header>
   
<!-- Container Recently Viewed / All Movies -->

<div id="home">

	
	<!-- Container Watchlist-->
<div id="watchListContainer" class="container text-center">
  <h3>Your Watchlist</h3>
  <br>
  <div class="row is-flex">
    <div class="col-sm-4" th:each="movie : ${watchList}">
      <a th:href="'#watchlist'+${movie.getMovieID()}" data-toggle="collapse">
        <img th:src="${'/movietracker/resources/images/' + movie.getMovieID() + '.jpg'}" 
              class="img-thumbnail img-responsive" th:alt="${movie.getTitle()}" width="255" height="255">
        </a>
       <div th:id="'watchlist'+${movie.getMovieID()}" class="collapse">
        <a th:href="@{/movie/{id}(id=${movie.getMovieID()})}" class="btn btn-info btn-md btn-block">
          <span class="glyphicon glyphicon-info-sign"></span> More
        </a>
        <form th:action="@{/home/watchlist/remove/{id}(id=${movie.getMovieID()})}" method="post">
          <button type="submit" class="btn btn-danger btn-md btn-block" >
            <span class="glyphicon glyphicon-remove"></span> Remove 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

	<div class="bg-1" >
   <h3 sec:authorize="isAuthenticated()" class="text-center">Recently Viewed Movies</h3>
      <h3 sec:authorize="isAnonymous()">Movies</h3>
	  <div class="container">
	    <div class="row text-center is-flex" >
	      <div class="col-sm-4" th:each="movie : ${movies}">
	        <div class="thumbnail" th:title="${movie.getTitle()}">
	          <a th:href="@{/movie/{id}(id=${movie.getMovieID()})}">
	            <img th:src="${'/movietracker/resources/images/' + movie.getMovieID() + '.jpg'}"th:alt="${movie.getTitle()}">
	          </a>
	          <p><strong th:text="${movie.getTitle()}"></strong></p>
	          <button class="btn more-btn" data-toggle="modal" th:attr="data-target='#infoModal'+${movie.getMovieID()}">More</button>
	        </div>
	      </div>
	    </div>
	  </div>
	  
	    <!-- Modal -->
	  <div th:each="movie : ${movies}" class="modal fade" th:id="'infoModal'+${movie.getMovieID()}" role="dialog">
	    <div class="modal-dialog">
	
	      <!-- More Info Box-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">×</button>
	          <h4><span class="glyphicon glyphicon-lock"></span> MOVIE OVERVIEW </h4>
	           <form th:action="@{/home/watchlist/add/{id}(id=${movie.getMovieID()})}" method="post">
	             <button type="submit" class="btn btn-success pull-right"> 
	                <span class="glyphicon glyphicon-plus"></span> Add to Watchlist </button>
	          </form>
	        </div>
	        <div class="modal-body">
	          <form role="form">
	            <div class="form-group">
	              <label for="movie"><span class="glyphicon glyphicon-film"></span> Title </label>
	              <p th:text="${movie.getTitle()}"></p>
	            </div>
	            <div class="form-group">
	              <label for="description"><span class="glyphicon glyphicon-book"></span> Description</label>
	               <p th:remove="tag" th:utext="${movie.getDescription()}"></p>
	            </div>
	          </form>
	        </div>
	        <div class="modal-footer">
	          <button type="submit" class="btn btn-success pull-left" data-dismiss="modal"> Back </button>
	          <a th:href="@{/movie/{id}(id=${movie.getMovieID()})}">more...</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<!-- Footer -->
<footer sec:authorize="isAuthenticated()" th:replace="layout/footer :: footer" > </footer>
  </body>
</html>


