<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
<title th:text="${movie.getTitle()}"></title>

<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
       th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" 
       th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
       th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!-- Navigation Bar -->
    <link rel="stylesheet" href="../../resources/styles/navigationbar.css" 
       th:href="@{/resources/styles/navigationbar.css}">
       <link rel="stylesheet" href="../../resources/styles/footer.css"
	th:href="@{/resources/styles/footer.css}" />
       
       <link rel="stylesheet" href="../../resources/styles/movie.css" th:href="@{/resources/styles/movie.css}"/>
       <link rel="stylesheet" href="../../resources/styles/movie.css" th:href="@{/resources/styles/main.css}"/>

</head>
<body>
<header th:replace="layout/navigationbar :: navigationbar" > </header>


<div class="content container-fluid" th:action="@{/movie}" id="container">

	<div class="row">
		<div class="col-md-12">
			<h1 th:text="${movie.getTitle()}" id="movietitle"></h1>
			<div class="movie-buttons" sec:authorize="isAuthenticated()" >
				<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{{id}/deleteMovie(id=${movie.getMovieID()})}" >
					<span><button class="btn btn-danger"> <span class="glyphicon glyphicon-trash"></span> Delete Movie </button></span>
				</a>
				<a th:href="@{{id}/edit(id=${movie.getMovieID()})}">
					<span><button class="btn btn-warning"> <span class="glyphicon glyphicon-scissors"></span> Edit Movie </button></span>
				</a>
				<a th:href="@{addmovie}">
					<span><button class="btn btn-success"> <span class="glyphicon glyphicon-plus"></span> Add Movie </button></span>
				</a>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<img th:src="${'/movietracker/resources/images/' + movie.getMovieID() + '.jpg'}"th:alt="${movie.getTitle()}" height="auto" width="auto" class=".img-responsive"></img>
			<div class="movie-item"> 
				<span th:class="${movie.getRank() < 0.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
				<span th:class="${movie.getRank() < 1.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
				<span th:class="${movie.getRank() < 2.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
				<span th:class="${movie.getRank() < 3.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
				<span th:class="${movie.getRank() < 4.4} ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></span>
			</div>
			<h3 th:text="${'Rank: ' + movie.getRank()}"></h3>
			<p th:text="${'Number of votes: ' + movie.getNumberOfVotes()}"></p>
			
			<form action="#"  th:action="@{ ${movie.getMovieID()} + '/mark'}" sec:authorize="isAuthenticated()" method="post">			
				<button type="Submit" class="btn btn-warning" th:if="${movieUser.isSeen()}"><span class="glyphicon glyphicon-eye-close"></span> Mark as not watched </button>
				<button type="Submit" class="btn btn-success" th:if="${!movieUser.isSeen()}"><span class="glyphicon glyphicon-eye-open"></span> Mark as watched </button>
			</form>
			<br>
			<div class="form-group">
				<div class="row" >
					<form sec:authorize="isAuthenticated()" action="#" th:object="${vote}" th:action="@{${movie.getMovieID()} + '/vote'}" method="post">
						<div class="col-md-3">
							<input type="hidden" name="userID" th:value="${user.getUserID()}">
							<input type="hidden" name="movieID" th:value="${movie.getMovieID()}" >
							<select class="form-control" name="rank">
									<option th:value="1">1</option>
									<option th:value="2">2</option>
									<option th:value="3">3</option>
									<option th:value="4">4</option>
									<option th:value="5">5</option>
								</select>
						</div>
						<div class="col-md-6">
							<button type="Submit" class="btn btn-default">Vote</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<table class="table">
				<tr>
					<th>Duration:</th>
					<th th:text="${movie.getDuration() + ' minutes'}"></th>
				</tr>
				<tr>
					<th>Age limitation:</th>
					<th th:text="${movie.getAgeLimitation()}"></th>
				</tr>
				<tr>
					<th>Release date:</th>
					<th th:text="${movie.getReleaseDate()}"></th>
				</tr>
				<tr>
					<th>Director:</th>
					<th th:text="${director.getFirstName() +' '+ director.getLastName()}"></th>
				</tr>
			</table>
			<div class="row">
				<div class="col-md-12">
					<h3>Categories:</h3>
					
					<span class="category-list" th:each="cat : ${moviecategories}">
		   				<a th:href="@{../categories/{id}(id=${cat.getId()})}" type="submit" class="btn btn-info btn-sm"><span th:text="${cat.getCategoryName()}"></span></a>
					</span> 
				</div>
			</div>
			<div id="description">
				<h4><span class="glyphicon glyphicon-book"></span> Description:</h4>
				<p th:utext="${movie.getDescription()}"></p>
			</div>
			<div class="bg-inverse text-white">
			<h3>Comments:</h3>
				<div class="pre-scrollable">
					<div th:each="comment : ${commentlist}">		
							<div class="panel panel-success">
								<div class="panel-heading">
									<b><a class="text-success" th:href="'../../movietracker/account/' + ${comment.get(3)}" th:text="${comment.get(0) + ':'}"></a></b>
									<form class="pull-right" sec:authorize="hasRole('ROLE_ADMIN')" action="#" th:object="${commentID}" th:action="@{ ${movie.getMovieID()} + '/delete'}" method="post">				
										<input type="hidden"  name="commentID"  th:value="${comment.get(4)}" />
										<button type="Submit" class="btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
									</form>
								</div>
								<div class="panel-body">
									<p th:text="${comment.get(1)}"></p>
									<p th:text="${comment.get(2)}"></p>
								</div>
									
						</div>
					</div>			
				</div>
				
				
				
				<form sec:authorize="isAuthenticated()" action="#" th:object="${comment}" th:action="@{${movie.getMovieID()} + '/submit'}" method="post">
					<label for="comment">Comment:</label>
					<input type="hidden"  name="userID" th:value="${user.getUserID()}" />
					<textarea class="form-control" maxlength="1000" minlength="10" rows="5" th:field="*{text}"></textarea>
					<button type="Submit" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Submit</button>
				</form>
			</div>				
		</div>
		<div class="col-md-2">
			<h4>Starring:</h4>
			<div th:each="actor : ${actorlist}">
				<p th:text="${actor.getFirstName() +' '+ actor.getLastName()}"></p>
			</div>
		</div>
	</div>
		
		
	
	
</div>
<!-- Footer -->
<footer sec:authorize="isAuthenticated()" th:replace="layout/footer :: footer" > </footer>

</body>
</html>