<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <title tiles:fragment="title">Registration</title>
   <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
         th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../../resources/styles/header.css" th:href="@{/resources/styles/header.css}"/>

  </head>
  <body>
  <header th:replace="layout/header :: header" > </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <h2>Create your Account</h2>
        <form th:action="@{/registration}" th:object="${user}" method="post">
          <div class="form-group">
            <label style="color:red" th:if="${param.error}"> User with this name already exists! </label>
            <label for="username">Your Username:</label>
            <input type="text" class="form-control" placeholder="Username" th:field="*{userName}">
          </div>
          <div class="form-group">
            <label for="email">Your Email:</label>
            <input type="email" class="form-control" placeholder="Enter email" th:field="*{userEmail}" >
          </div>
          <div class="form-group">
            <label for="pwd">Your Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" th:field="*{password}">
          </div>
          <button type="submit" class="btn btn-success pull-right">Register</button>
        </form> <!-- Form Registration ends here -->
        <form th:action="@{/home}" method="GET">
        <button type="submit" class="btn btn-danger pull-left">Cancel</button>
      </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  </body>
</html>
