<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
 <div th:fragment="footer" id="footer">
   	<div id="recentlyViewed">
		<h5> Recently viewed:</h5>
			<ul class="viewed-movie-list">
				<li th:each="movie: ${moviesSeen}" class="movie">
					<a th:href="@{/movie/{id}(id=${movie.getMovieID()})}"> 
						<img th:src="${'/movietracker/resources/images/' + movie.getMovieID() + '.jpg'}" th:alt="${movie.getTitle()}" width="100" height="100">
					</a>
					<!-- <img th:src="${'/movietracker/resources/images/' + movie.getMovieID() + '.jpg'}" th:alt="${movie.getTitle()}" width="100" height="100"> -->
				</li>
			</ul>
			</div>
	  <div id="footerInfo"> &copy; MI Project, Group 5, 2016 </div>
	 </div>
 </body>
</html>

