<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <!-- Bootstrap -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
     th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
     th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<!-- Navigation Bar -->
<link rel="stylesheet" href="../../resources/styles/navigationbar.css"
     th:href="@{/resources/styles/navigationbar.css}">
     <link rel="stylesheet" href="../../resources/styles/footer.css" th:href="@{/resources/styles/footer.css}"/>
     <link rel="stylesheet" href="../../resources/styles/home.css" th:href="@{/resources/styles/home.css}"/>
</head>
  <body>
   <header id="navigation" th:fragment="navigationbar">
     <nav class="navbar navbar-default navbar-fixed-top">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <h4 id=movieTrackerHeader>MovieTracker</h4>
         </div>
         <div class="collapse navbar-collapse" id="myNavbar">
         <div class="col-sm-3 col-md-3">
             <form class="navbar-form" role="search" th:action="@{/tracker/search}" method="get">
                 <div class="input-group">
                     <input type="text" class="form-control" placeholder="search a movie ..." name="search">
                     <div class="input-group-btn">
                         <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                     </div>
                  </div>
              </form>
          </div>  
           <ul class="nav navbar-nav navbar-right">
             <li><a th:href="@{/home}">HOME</a></li>
             <li><a th:href="@{/categories}">CATEGORIES</a></li>
             <li><a th:href="@{/tracker}">TRACKER</a></li>
             <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">ADMIN</a></li>
             <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
               <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li sec:authorize="isAnonymous()"><a th:href="@{/registration}"> Register</a></li>
                 <li sec:authorize="isAuthenticated()"><a th:href="@{/account/{id}(id=${user.getUserID()})}" th:text="${'Hi '+ #authentication.name}"> </a></li>
                 <li sec:authorize="isAuthenticated()"><a data-toggle="modal" href="#signOut">Sign Out</a></li>
                 <li sec:authorize="isAnonymous()"><a data-toggle="modal" href="#logIn">Login</a></li>
               </ul>
             </li>
           </ul>
         </div>
       </div>
     </nav>

       <!-- Modal -->
  <div sec:authorize="isAuthenticated()" class="modal fade" id="signOut" role="dialog">
    <div class="modal-dialog">

      <!-- More Log Out-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>
          </button>
          <h4>Log Out</h4>
        </div>
        <div class="modal-body">
         <p>Do you really want to log out?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>
          <form th:action="@{/signout}" method="post">
           <button type="submit" class="btn btn-primary">Sign Out
                <span class="glyphicon glyphicon-ok-sign"></span>
           </button>
           </form>
        </div>
      </div>
    </div>
  </div>

         <!-- Modal -->
  <div sec:authorize="isAnonymous()" class="modal fade" id="logIn" role="dialog">
    <div class="modal-dialog">

      <!-- More Log Out-->
      <div class="modal-content">
        <div class="modal-header">
          <h4>Login</h4>
        </div>
        <form name="login" th:action="@{/home}"  method="post">
        <div class="modal-body">
          <div class="form-group" th:if="${param.error}">
                      Invalid username and password!
          </div>
          <div class="form-group" >
            <input type="text" class="form-control" id="userForm" name="username" placeholder="Username" autofocus="autofocus"/>
          </div>
          <div class="form-group" >
            <input type="password" class="form-control" id="userForm" name="password" placeholder="Password" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="login-button">Login
            <span class="glyphicon glyphicon-ok-sign"></span>
           </button>
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>

      <!-- This Script shows the Login Modal if the param.error is true -->
  <script th:inline="javascript">
  /*[+

  var param  = [[${param.error}]];

  +]*/
    if(param)
        $('#logIn').modal('show')
 </script>
 

  </header>
 </body>

</html>
