@CHARSET "ISO-8859-1";

#account h1 {
	padding: 100 px;
	margin: 0 0 40px 30px;
}

#account .Menu {font-size: 30px; color: grey; line-height: 70px; text-decoration: none;}
	
#account .container-green {
	border: 2px solid black;
 	padding: 5px;
 	background-color: #f2ffe6;
  	align: center;
  	box-shadow: 5px 5px 5px #888888;
}
	
#account .item img {
	width: 70px;
	height: 100px;
}
   
#account .item {
	margin: 3px;
	display: inline-block;
	overflow: hidden;
    width: 100%;
    position: relative;
}
   
#account .item .pull-right{
	position: absolute;
    top: 0px;
    left: 80px;
}

#account .span6 {
	padding: 5px;
}

#account .item .glyphicon {
	color: orange;
	font-size: 16px;
}

#account .movie-description {
	overflow:hidden;
}

#account .vote-movie-name {
	height: 20px;
}