@CHARSET "UTF-8";

#addMovie .header span {
	font-size: 40px;
    margin-top: 15px;
    display: block;
    margin-bottom: 15px;
}

#addMovie .header {
	text-align: center;
    margin-top: 70px;
}

#addMovie .go-to-details {
	position: absolute;
    bottom: 32px;
    left: 0px;
}