header:hover {
	cursor: default;
}
	
h1 {
	margin-left: 50px;
}

#Menu {
	width: 100%;
	background-color:black;
}

span.title {margin-left: 10px; font-size: 40px; color: white; }
span.title:hover {text-decoration: none; cursor:default;}

li.list {list-style-type: none; position: relative; left:60px;}

.Menu {position: relative;top: 6px; padding: 10px;  font-size: 40px; background-color: black; text-decoration: none; color:#CC1D34; transition: .3s color, .6s background-color;}
.Menu:hover {color: white; background-color: grey; text-decoration: none;}

.tab-content {
	position: absolute;
    top: 55px;
    max-height: 62vh;
    overflow-y: auto;
    width: 98%;
}

body {
	position: absolute !important;
	width: 100%;
}

.content {
	overflow-x: visible !important;
}

.th {
	font-weight: bold;
}

.tr {
	padding: 3px 15px;
	border-bottom: 1px solid lightgrey;
}