@CHARSET "ISO-8859-1";

header:hover {
	cursor: default;
}

h1 {
	margin-left: 100px;
}

th, td {
    padding: 5px;
}

#categoryTitle {
	font-weight: bold;
	font-size: 250%;
}

.category_item {
	box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.15);
	padding: 20px;
	background-color: #004a6f;
	color: white !important;
	cursor: pointer;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    display: block;
}

.category_item:hover {
	box-shadow: 1px 1px 6px 2px #008bce;
    background-color: #008bce;
}
    
#movie_container {
  margin-top: 15px;
  border:none;
  padding: 20px;
  background-color: #f2ffe6;
  align: center;
}
    
.movie-item img {
    width: 140px;
    height: 200px;
}
    
.movie-item {
    height: 240px;
    width: 140px;
    margin: 3px;
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
}

.movie-item .glyphicon {
	color: orange;
}
