#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footerInfo {
	display: block;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 23px;
	color: white;
	background-color: #004a6f;
}

#recentlyViewed {
	display: block;
	overflow: hidden;
	bottom: 23px;
	width: 100%;
	height: 120px;
	border: 1px solid #517777;
	padding: 5px;
	background: white;
}

#recentlyViewed h5 {
	margin: 0;
}

#recentlyViewed .movie {
	width: 72px;
    height: 90px;
    margin-top: 4px;
    display: inline-block;
    border: 1px solid grey;
    float: left;
    margin-left: 8px;
    overflow: hidden;
}

#recentlyViewed .movie span{
	display: block;
	max-height: 78px;
	overflow: hidden;
}

#recentlyViewed .movie img{
	width: 100%;
}

#recentlyViewed .viewed-movie-list {
	padding-left: 0;
}
