header {
	width: 100%;
    display: block;
    position: relative;
    background: #004a6f;
    height: 65px;
    text-align: center;
}

header h1 {
	color: white;
	font-family: Arial, Verdana;
	margin-top: 8px;
  }

header span {
	margin-right: 10px;
}