#home {
	padding-bottom: 80px;
}

header:hover {
cursor: default;
}

#home body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
#home h3, #home h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111;
}
#home .container {
    padding: 80px 120px;
}

#home .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 50%;
    opacity: 0.7;
}
#home .person:hover {
    border-color: #f1f1f1;
}
#home .carousel-inner img {
    -webkit-filter: grayscale(90%);
    width: 100%; /* Set width to 100% */
    margin: auto;
}
#home .carousel-caption h3 {
    color: #fff !important;
}
#home @media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
#home .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
#home .bg-1 h3 {color: #fff;}
#home .bg-1 p {font-style: italic;}
#home .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
#home .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#home .thumbnail {
    padding: 2px 2px 15px 2px;
    border: none;
    border-radius: 0;
}
#home .thumbnail img{
    height: 400px;
}
#home .thumbnail p {
    margin-top: 15px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}
#home .more-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
#home .btn:hover, #home .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
#home .modal-header, #home h4, #home .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
#home .modal-header, #home .modal-body {
    padding: 40px 50px;
}
#home .nav-tabs li a {
    color: #777;
}
#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
#home .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
#home .navbar li a, #home .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
#home .navbar-nav li a:hover {
    color: #fff !important;
}
#home .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
#home .navbar-default .navbar-toggle {
    border-color: transparent;
}
#home .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
#home .dropdown-menu li a {
    color: #000 !important;
}
#home .dropdown-menu li a:hover {
    background-color: red !important;
}
#home footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
#home footer a {
    color: #f5f5f5;
}
#home footer a:hover {
    color: #777;
    text-decoration: none;
}
#home .form-control {
    border-radius: 0;
}
#home textarea {
    resize: none;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.allMovies{
	width: 80px;
	heigth: 30px;
}

#home .col-sm-4 {
	width: 300px;
}
