    table {
      border:none;
      box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.15);
      padding: 30px;
      background-color: white;
      width:300px;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;

    }

    th, td {
        text-align: center;
        padding: 8px;
        color:#808080;
    }
   .btn{
        width:150px;
        border: none;
        padding: 7px;
        margin-top: 15px;
        margin-bottom: 5px;
        background:	#00FA9A;
        color:#808080;
      }
    #userForm {
  			width:200px;
  			padding: 25px;
  			text-align: center;
  			border:none;
  			border-bottom: 1px double #8e8e8e;
  			outline: none;
  			color:#808080;
  		}
    #register{
       font-size: 0.74em; 
        color: #808080;
      }
    }
