header:hover {
	cursor: default;
}

#movietitle{
	font-size: 32px;
}

.movie-item .glyphicon {
	color: orange;
	margin-top: 3px;
    font-size: 30px;
}

.pre-scrollable{
	overflow-wrap: break-word;
	overflow-x: hidden;
}

#container footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

#container {
	margin-top: 35px;
}

.movie-buttons {
	position: absolute;
	right: 3px;
	top: 19px;
	display: block;
}

