#navigation .navbar {
	background-color: #004a6f;   
	border: #2d2d30;
}
 
#navigation .glyphicon{
	color: #c0c0c0;
}

#userForm {
  	text-align: center;
  	border:none;
  	outline: none;
}
#movieTrackerHeader {
	font-size: 28px;
	color: white;
}

.search-field {
	margin-top: 8px;
}

#navigation a {
	font-weight: bold;
	color: white;
	background-color: #004a6f;
}

#navigation a:hover {
    background-color: #008bce;
}

#navigation ul {
    background-color: #004a6f;
}
  	
        
